* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  padding-left: 2rem;
}

html, body {
  background-color: #060c35;

}

.App {
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.react-logo-contenedor {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.react-logo {
  width: 105px;
  height: 75px;
  padding-left: 20px;
}

.contenedor-principal {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


